<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}首页{% endblock %}-博客系统</title>
</head>
<body>
<div>顶部分类：
    {% for cate in navs %}
    <a href="{% url 'category-list' cate.id %}">{{ cate.name }}</a>
    {% endfor %}
</div>
<hr>
{% block main %}
{% endblock %}

<hr>
<div>底部分类：
    {% for cate in categories %}
    <a href="{% url 'category-list' cate.id %}">{{ cate.name }}</a>
    {% endfor %}
</div>

<div>侧边栏展示:
    {% for sidebar in sidebars %}
    <h4>{{ sidebar.title }}</h4>
    {{ sidebar.content }}
    {% endfor %}
</div>
</body>
</html>

